body {
  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    // justify-items: space-around;
    // align-items: space-around;

    .board {
      grid-area: 2 / 2 / span 3 / span 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-items: stretch;
      align-items: stretch;
      border: solid;

      .board-item {
        .item {
					text-align: center;
          width: 100%;
          height: 100%;
        }
      }

      .board-item:nth-child(n + 1):nth-child(-n + 3) {
        border-bottom: solid;
      }
      .board-item:nth-child(n + 4):nth-child(-n + 6) {
        border-bottom: solid;
      }
      .board-item:nth-child(3n + 1) {
        border-right: solid;
      }
      .board-item:nth-child(3n + 3) {
        border-left: solid;
      }

      .color {
        background-color: rgb(213, 213, 255)	;
      }
    }
    // .board-item {
    // grid-area: 2 / 2 / span 3 / span 3;
    // justify-content: space-around;
    // justify-items: space-between;
    // justify-self: space-around;
    // }
  }
}
