body {
  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    // justify-items: space-around;
    // align-items: space-around;

    .start {
      font-family: Andale Mono;
      grid-area: 3 / 3 / span 1 / span 1;
      display: grid;
      height: 100%;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      align-self: center;

      button {
        grid-row: 2;
        justify-self: center;
        align-self: center;
        font-size: 20px;
        width: 100px;
        height: 40px;
      }
      .start-text {
        display: inline-block;
        font-size: 30px;
        white-space: nowrap;
        text-align: center;
        align-self: center;
        // overflow: hidden;
        letter-spacing: 2px;
        // border-right: 2px solid;
      }
      .player-one {
        grid-row: 1 / span 2;
        justify-self: center;
        align-self: center;
        font-size: 25px;
        letter-spacing: 2px;
        input {
          height: 27px;
          font-size: 20px;
          border: none;
          outline: none;
        }
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      @keyframes cursor {
        from,
        to {
          border-color: black;
        }
        50% {
          border-color: white;
        }
      }
    }

    .header {
      grid-area: 1 / 1 / span 1 / span 5;
      align-self: center;
      justify-self: center;
      // border: solid;
		}
		.left-side {
      grid-area: 1 / 1 / span 5 / span 1;
      align-self: center;
      justify-self: center;
      // border: solid;
		}
		.right-side {
      grid-area: 1 / 5 / span 5 / span 1;
      align-self: center;
      justify-self: center;
      // border: solid;
    }

    .footer {
      grid-area: 5 / 1 / span 1 / span 5;
      align-self: center;
      justify-self: center;
    }

    .board {
      grid-area: 2 / 2 / span 3 / span 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-items: stretch;
      align-items: stretch;
      border: solid;

      .board-item {
        button {
          text-align: center;
          font-size: 100px;
          width: 100%;
          height: 100%;
        }
        button:disabled {
          color: black;
        }
      }

      .board-item:nth-child(n + 1):nth-child(-n + 3) {
        border-bottom: solid;
      }
      .board-item:nth-child(n + 4):nth-child(-n + 6) {
        border-bottom: solid;
      }
      .board-item:nth-child(3n + 1) {
        border-right: solid;
      }
      .board-item:nth-child(3n + 3) {
        border-left: solid;
      }

      .color {
        background-color: rgb(213, 213, 255);
      }
    }
    // .board-item {
    // grid-area: 2 / 2 / span 3 / span 3;
    // justify-content: space-around;
    // justify-items: space-between;
    // justify-self: space-around;
    // }
  }
}
